:root {
    --primary-color: #38f5fc;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
    --background-color: #3f3f3f
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

main {
    width: 100vw;
}



body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(151, 174, 180);
    /* overflow-x: hidden; */
}

  /* HEADER / NAV BAR STYLES START */
header {
    padding: 20px 0px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    margin-left: 10px;
}

header a {
    text-decoration: underline;
    color: var(--primary-color);
}

header h1 a{
    text-decoration: none;
}

header nav {
    margin: 7px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
 /* HEADER / NAVBAR STYLES END */


  /* HERO STYLES START */
.hero {
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

  /* SECTION TITLE STYLES START */

  /* STYLE ALL SECTION TAGS */
/* section {
    padding: 10px 10px 10px 10px;
} */

.section-title {
    font-size: 32px;
    border-right: 12px solid;
    color: var(--primary-color);
    padding-bottom: 20px;
    text-align: end;
    margin-right: 50px;
}

.section-title h2 {
    margin-right: 200px;
}

.primary-border {
    padding-right: 96px;
    border-color: var(--primary-color);
}

.secondary-border {
    border-color: var(--primary-color);
    padding-right: 109px;
}
  /* SECTION TITLE STYLES END */

.work-section {
    display: flex;
    margin-top: 20px;
}

.flex-row {
    display: flex;
    /* align-content: space-between; */
    /* flex-wrap: wrap; */
    /* padding: 10px 20px;
    text-align: left; */

}

.projects {
    width: 75%;
    height: 75%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects img {
    border: 3px solid var(--primary-color);
}

.project-one {
    flex-shrink: 80%;
    flex-basis: auto;
    background: url(../images/surf.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
    width: 400px;
    /* Dont need width */
    position: relative;
    border: 2px solid var(--primary-color);
}

.first-project img{
    height: 540px;
}

.second-projects img{
    height: 309px;
}

.third-projects img{
    height: 330px;
}

.fourth-projects img{
    height: 540px;
}

.project-description {
    width: 300px;
    position: relative;
    background-color: var(--primary-color);
    bottom: 107px;
    left: 24px;
}

.project-description h3{
font-size: 40px;
}

.project-description p{
    font-size: 30px;
    }

.project-led {
    display: flex;
    flex-basis: auto;
    background: url(../images/led.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
    width: 300px;
    /* Dont need width */
    position: relative;
    border: 2px solid var(--primary-color);
}

.project-cal {
    display: flex;
    flex-basis: auto;
    background: url(../images/calculator.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
    width: 300px;
    /* Dont need width */
    position: relative;
    border: 2px solid var(--primary-color);
    padding: 0px;
}

.project-pastel {
    display: flex;
    flex-basis: auto;
    background: url(../images/pastel.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
    width: 800px;
    /* Dont need width */
    position: relative;
    border: 2px solid var(--primary-color);
}

.project-run-buddy {
    display: flex;
    flex-basis: auto;
    background: url(../images/runbuddy.JPG);
    background-position: center center;
    background-size: cover;
    height: 400px;
    width: 800px;
    /* Dont need width */
    position: relative;
    border: 2px solid var(--primary-color);
}

.project-art {
    display: flex;
    flex-basis: auto;
    background: url(../images/website.JPG);
    background-position: center center;
    background-size: cover;
    height: 400px;
    /* Dont need width */
    position: relative;
    border: 2px solid var(--primary-color);
}

/* .project img {
    width: 87%;
    height: 87%;
    border: var(--primary-color) solid;
    margin: 10px 0px 10px 0px;
} */



.flex-box-row {
    display: flex;
    flex-basis: auto;
    /* justify-content: space-between; */
}

/* .projects h3 {
    background-color: var(--primary-color);
    font-size: 30px;
    padding: 0px 0px 0px 50px;
    margin: -6px -59px 5px 0px;
}

.projects p {
    background-color: var(--primary-color);
    font-size: 25px;
    padding: 0px 0px 0px 50px;
    margin: -6px -59px 5px 0px;
} */

.project {
    display: flex;
    flex-wrap: wrap;
}

.about-me-img img{
    width: 150px;
    height: 100%;
    border: var(--primary-color) solid;

}

.about-me-text {
    display: flexbox;
    flex-wrap: wrap;
    margin-left: 25px;
}

/* .about-me-img img{
    width: 100%;
    height: 100%;
    border: var(--primary-color) solid;
    justify-content: center;
    text-align: center;

} */

/* article{
    display: inline-flexbox;
} */

 /* FOOTER STYLES START */
footer {
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 5px;
}

footer h2 {
    color: var(--primary-color);
    font-size: 30px;
    margin: 0;
    padding-right: 5px;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--primary-color);
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--primary-color);
    list-style: none;
}




  /* END FOOTER STYLES */

@media screen and (max-width: 1024px){

    .first-project img{
        height: 320px;
    }

    .second-projects img{
        height: 272px;
    }

    .third-projects img{
        height: 316px;
    }

    .fourth-projects img{
        height: 357px;
    }

}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header{
        /* padding-bottom: 0; */
        justify-content: center;
        position: relative;
    }

    header h1{
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer, footer h2, .contact-info li{
        text-align: center;
        width: 100%;
        justify-content: center;
    }

    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    .section-title {
        border-right: none;
        padding: 10px 10px 10px 0px;
    }

    section{
        border-top: 3px solid;
        border-right: none;
        width: 100%;
        padding: 10px 10px 10px 10px;
    }

    .work-section {
        flex-direction: column;
        align-items: center;
    }

    .flex-row {
        display: flex;
        align-content: space-between;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px 20px;
        text-align: left;
    
    }

    .first-project img{
        height: 320px;
    }

    .second-projects img{
        height: 214px;
    }

    .third-projects img{
        height: 316px;
    }

    .fourth-projects img{
        height: 400px;
    }

}

@media screen and (max-width: 768px){

    .first-project img{
        height: 260px;
    }

    .second-projects img{
        height: 298px;
    }

    .third-projects img{
        align-content: left;
        height: 246px;
    }

    .fourth-projects img{
        height: 279px;
    }



}

@media screen and (max-width: 425px){

    .first-project img{
        height: 194px;
    }

    .second-projects img{
        height: 220px;
    }

    .third-projects img{
        align-content: left;
        height: 178px;
    }

    .fourth-projects img{
        height: 200px;
    }

    .project-description {
        width: 300px;
        position: relative;
        background-color: var(--primary-color);
        bottom: 0px;
        left: 0px;
    }
    
    .project-description h3{
    font-size: 40px;
    }
    
    .project-description p{
        font-size: 30px;
        }

}

@media screen and (max-width: 375px){

    .first-project img{
        height: 172px;
    }

    .second-projects img{
        height: 197px;
    }

    .third-projects img{
        align-content: left;
        height: 167px;
    }

    .fourth-projects img{
        height: 186px;
    }

    .project-description {
        width: 300px;
        position: relative;
        background-color: var(--primary-color);
        bottom: 0px;
        left: 0px;
    }
    
    .project-description h3{
    font-size: 40px;
    }
    
    .project-description p{
        font-size: 30px;
        }

}

@media screen and (max-width: 320px){

    .first-project img{
        height: 148px;
    }

    .second-projects img{
        height: 171px;
    }

    .third-projects img{
        align-content: left;
        height: 143px;
    }

    .fourth-projects img{
        height: 160px;
    }

    .project-description {
        width: 300px;
        position: relative;
        background-color: var(--primary-color);
        bottom: 0px;
        left: 0px;
    }
    
    .project-description h3{
    font-size: 40px;
    }
    
    .project-description p{
        font-size: 30px;
        }

}